@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&display=swap');



* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body {
    background-color: black;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* HEADER */
.header-hed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.img-2{
    display: none;
}
.dropdown {
    display: none;
}

.img-logo {
    width: 100px;
}

.nav-links {
    text-decoration: none;
    padding: 20px;
    color: white;
}

.nav-links:hover {
    color: #2596be;
    transition: 0.8s;
}

/* FIM HEADER */

/* carrossel */
.slide-header {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.slide-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrosel-content {
    position: absolute;
    top: 35vh;
    width: 50%;
    margin-left: 14%;
    z-index: 5;
}

.text-h6 {
    color: #059387;
}

.text-p1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.text-p2{
    color: white;
    font-size: 20px;
}



/* MEDIA QUERY */
@media (max-width: 764px) {

    .img-1{
        display: none;
    }

    .img-2{
        display: block;
    }
    .dropdown {
        display: block;
    }
    .nav-links {
        display: none;
    }

    .img-logo {
        width: 80px;
        
    }

    .carrosel-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 15vh;
        
    }

    .text-p1 {
        text-align: center;
        width: 70%;
        font-size: 15px;
        color: rgb(255, 255, 255);
        display: inline-block;
        animation: slideIn 1s ease-out forwards;
    }

    .text-p2{
        text-align: center;
        color: white;
        width: 70%;
        font-size: 11px;
        display: inline-block;
        animation: slideDown 1s ease-out forwards;
    }

    .text-h6 {
        color: #059387;
        width: 100%;
    }
   
    
    
}


@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
